* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#root {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 0;
  text-align: center;

  /* Color Theme Swatches in Hex */
  /* --dark: #202426;
  --medium-dark: #6C733D;
  --medium: #9DA65D;
  --medium-light: #8C8C88;
  --light: #F2F2F2; */
  --dark: #4D7380;
  --medium-dark: #737C80;
  --medium: #B8C7CC;
  --medium-light: #99E6FF;
  --light: #E6F9FF;
}

body {
  background: var(--light);
}